<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 minimum-scale=1.0 user-scalable=0" />
    <link rel="stylesheet" href="@{'/public/touch/resources/css/apple.css'}" type="text/css" />
    <script type="text/javascript" src="@{'/public/touch/sencha-touch-all-debug.js'}"></script>
    <script>
      Ext.Loader.setConfig({enabled:true});
    </script>
    <script type="text/javascript" src="@{'/public/javascripts/app.js'}"></script>
</head>
<body></body>
</html>
